---
tags:
- Communication
- Format
- Template
date: 2023-02-12
---

# Verification

## Format/Template

| Status    | _verification status_             |
| --------- | --------------------------------- |
| Tested On | _verification date_               |
| Case      | _test case title_                 |
| Evidence  | _evidence of verification result_ |



## Example

| Status    | ![](_media/check.png) Verified     |
| --------- | ---------------------------------- |
| Tested On | 12 February 2024<br/>18:07         |
| Case      | Delete drafted content             |
| Evidence  | _\<evidence image\>_               |

or

| Status    | ![](_media/error.png) Failed       |
| --------- | ---------------------------------- |
| Tested On | 12 February 2024<br/>18:07         |
| Case      | Delete drafted content             |
| Evidence  | _\<evidence image\>_               |